<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/login.js" defer></script>
    <title>login</title>
</head>
<body>
    <div class="login-page">
       
        <div class="form">
          <form class="login-form">
            <label>관리자 접속</label>
            <input id ="id" type="text" placeholder="아이디"/>
            <input id ="pwd" type="password" placeholder="비밀번호"/>
            <p id ="button">login</p>
          </form>
        </div>

        <div class ="form">
          <p class="message"><a href="/filecivil">민원 제기</a></p>
        </div>
    </div>
</body>
</html>
